<div class="container text-center mt-5">
  <h1>Bienvenido a Major Team</h1>
  <p class="lead">
    Un espacio inclusivo para personas mayores que desean poner en valor sus oficios y profesiones.
  </p>
  <p>
    En Major Team, conectamos a personas mayores con habilidades y experiencia en diversos rubros, permitiéndoles generar ingresos económicos adicionales , sentirse activas y útiles.
  </p>

  <!-- Botón para explorar productos/servicios -->
  <%= link_to "Explorar Ofertas", product_offers_path, class: "btn btn-primary btn-lg" %>
</div>