<div class="text-center mt-4">
  <h1>Bienvenido al Marketplace Major Team</h1>
  <p>Explora nuestras 11 categorías y encuentra productos o servicios útiles.</p>
  <%= link_to "Ver Categorías", categories_path, class: "btn btn-primary" %>
</div> 

