#<h1>Categories#show</h1>
#<p>Find me in app/views/categories/show.html.erb</p>
<h1><%= @category.name %></h1>

<p>Productos disponibles en esta categoría:</p>

<ul>
  <% @products.each do |product| %>
    <li><%= product.name %> - <%= number_to_currency(product.price) %></li>
  <% end %>
</ul>

<%= link_to "Volver a Categorías", categories_path, class: "btn btn-secondary" %>
